{% extends "base.html" %}

{% block title %}
    Избранное
{% endblock %}

{% block content %}
<h1>Понравившиеся роадмапы</h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        {% if roadmaps %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">       
            {% for roadmap in roadmaps %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start mb-2">
                            <h5 class="card-title mb-0">{{ roadmap['title'] }}</h5>
                            <button class="favorite-btn is-active" data-id="{{ roadmap.id }}">
                                <img
                                    class="icon"
                                    alt="Избранное"
                                    src="{{ url_for('static', filename='/images/favorite-on.svg') }}"
                                >
                            </button>
                        </div>
                        <p class="card-text text-muted">
                            {{ roadmap['description'] }}
                        </p>
                    </div>
                    <div class="card-footer bg-transparent border-top-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">
                                <i class="bi bi-clock"></i> ~{{ roadmap['hours'] }} hours
                            </small>
                            <a href="{{ url_for('roadmap', roadmap_id=roadmap['id']) }}" class="btn btn-sm btn-primary">
                                Открыть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <h6>Упс... Здесь пусто</h6>
        {% endif %}
    </div>
</div>
{% endblock %}
